html,
body {
   overflow-y: scroll;
   overflow-x: hidden;
   scrollbar-width: none;
   font-family: "Lexend Exa", monospace;
   padding: 0;
   margin: 0;
   gap: 0;
   image-rendering: optimizeQuality;
}

* {
   box-sizing: border-box;
}

a {
   text-decoration: none;
   color: black;
}

.image-container {
   position: relative;
}

.title {
   font-size: 2rem;
   font-weight: bold;
   text-decoration: none;
}

main {
   position: relative;
   z-index: 1;
   width: 100%;
   margin: 140vh auto 0 auto;
   background-color: white;
   border-radius: 30px 30px 0 0;
   padding: 2rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 2rem;
}


@keyframes entry_top {
   0% {
      opacity: 0;
      transform: translateY(-100px);
   }

   100% {
      opacity: 1;
      transform: translateY(0);
   }
}

@keyframes entry_down {
   0% {
      opacity: 0;
      transform: translateY(100px);
   }

   100% {
      opacity: 1;
      transform: translateY(0);
   }
}
