html,
body {
   overflow-y: scroll;
   overflow-x: hidden;
   scrollbar-width: none;
   padding: 0;
   margin: 0;
   gap: 0;
}

* {
   box-sizing: border-box;
   font-family: "Lexend Exa", monospace;
}

a {
   text-decoration: none;
   color: black;
}

.image-container {
   position: relative;
}

.title {
   font-size: 2rem;
   font-weight: bold;
   text-decoration: none;
}

.hidden {
   display: none;
}

button {
   transition: background-color 0.5s ease;
}

@keyframes entry_top {
   0% {
      opacity: 0;
      transform: translateY(-100px);
   }

   100% {
      opacity: 1;
      transform: translateY(0);
   }
}

@keyframes entry_down {
   0% {
      opacity: 0;
      transform: translateY(100px);
   }

   100% {
      opacity: 1;
      transform: translateY(0);
   }
}
