@import url('/Frontend/styles/cards.css');
@import url('/Frontend/styles/header.css');
@import url('/Frontend/styles/like_button.css');
@import url('/Frontend/styles/footer.css');
@import url('/Frontend/styles/spot_modal.css');
@import url("/Frontend/global.css");


#landing-image {
   will-change: transform;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   max-height: 150vh;
   object-fit: cover;
   z-index: -1;
}
