@import url('/Frontend/styles/cards.css');
@import url('/Frontend/components/Card/card.css');
@import url('/Frontend/components/Header/header.css');
@import url('/Frontend/components/Footer/footer.css');
@import url('/Frontend/components/Spot_Modal/spot_modal.css');
@import url('/Frontend/components/Like_Button/like_button.css');
@import url("/Frontend/global.css");


#landing-image {
   will-change: transform;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   max-height: 150vh;
   object-fit: cover;
   z-index: -1;
}

#overlay {
   position: absolute;
   display: flex;
   flex-direction: column;
   align-items: end;
   justify-content: center;

   gap: 10rem;
   font-size: 2rem;
   background-color: transparent;
   padding: 1rem;
   z-index: 10;
   color: white;
   top: 10rem;
   right: 1rem;
}

#overlay p {
   animation: entry_down 1s ease-in-out;
   animation-fill-mode: forwards;
   opacity: 0;
}

#overlay p:nth-child(2) {
   animation-delay: 0.3s;
}

@keyframes fade-in {
   0% {
      opacity: 0;
   }

   100% {
      opacity: 1;
   }
}

main {
   position: relative;
   z-index: 1;
   width: 100%;
   margin: 140vh auto 0 auto;
   background-color: white;
   border-radius: 30px 30px 0 0;
   padding: 2rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 2rem;
}
