footer {
   display: flex;
   background-color: antiquewhite;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   padding: 1rem;
   gap: 1rem;
}

#footer-social {
   padding: 3rem;
   display: flex;
   flex-direction: column;
   gap: 1rem;
   align-items: start;
   justify-content: center;
}

.social {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   gap: 0.5rem;
}

#social-container {
   padding-top: 1rem;
   display: flex;
   flex-direction: column;
   align-items: start;
   justify-content: center;
   gap: 1rem;
}

#footer-logo {
   padding: 1rem;
}
