.like-button {
   display: flex;
   border: none;
   position: absolute;
   top: 1rem;
   right: 1rem;
   background-color: white;
   border-radius: 100%;
   padding: 0.5rem;
   align-items: center;
   justify-content: center;
   width: 48px;
   height: 48px;
}

.like-button button {
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   border: none;
   background-color: transparent;
}

.like-button .material-symbols-outlined {
   font-size: 1.5rem;
}

.like-button:hover {
   cursor: pointer;
   background-color: lightgray;
}
