@import url("/Frontend/global.css");
@import url("/Frontend/components/Header/header.css");
@import url("/Frontend/components/Footer/footer.css");

html,
body {
   margin: 0;
   padding: 0;
   overflow-x: hidden;
   overflow-y: auto;
   scrollbar-width: none;
}


main {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: start;
   min-height: 100vh;
}

#landing-container {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 1rem;
   gap: 0.5rem;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   min-height: 50vw;
   animation: entry-down 0.7s ease-in-out forwards;
}

#overlay {
   display: flex;
   flex-direction: column;
   color: white;
   padding: 1rem;
   margin: 0.5rem;
   align-items: center;
   justify-content: center;
   font-size: 7rem;
   animation: entry-down 0.7s ease-in-out forwards;
   text-transform: capitalize;
}

#landing-country {
   color: lightgray;
   font-size: 2rem;
}

#destination-container {
   display: flex;
   flex-direction: column;
   width: 100%;
   align-items: start;
   justify-content: center;
   padding-left: 10rem;
   padding-right: 10rem;
   padding-top: 2rem;
   padding-bottom: 2rem;
   animation: entry-down 0.7s ease-in-out forwards;
   gap: 4rem;
}

#top-destination {
   display: flex;
   flex-direction: row;
   width: 100%;
   align-items: start;
   justify-content: start;
   animation: entry-down 0.7s ease-in-out forwards;
   gap: 1rem;
}

#rank {
   font-size: 2rem;
   width: 5rem;
   height: 5rem;
   border-radius: 14px;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
}

#bottom-destination {
   display: flex;
   flex-direction: row;
   width: 100%;
   align-items: center;
   justify-content: center;
   padding-left: 10rem;
   padding-right: 10rem;
   padding-top: 2rem;
   padding-bottom: 2rem;
   animation: entry-down 0.7s ease-in-out forwards;
   gap: 1rem;
}

#price {
   font-weight: bold;
   font-size: 2.5rem;
}

#reserve-button {
   background-color: antiquewhite;
   color: black;
   width: 15rem;
   outline: none;
   border: none;
   cursor: pointer;
   padding: 0.5rem;
   border-radius: 14px;

   &:hover {
      background-color: navajowhite;
   }
}

#form-container {
   display: flex;
   width: 100%;
   align-items: center;
   justify-content: space-evenly;
   margin: 15rem;
   animation: entry-down 0.7s ease-in-out forwards;
}

#form-container img {
   width: 40%;
   height: auto;

}

#form {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: stretch;
   gap: 3rem;
}


#names {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   gap: 1rem;
}

#form input {
   border: none;
   background-color: white;
   border-bottom: solid 1px gray;
   width: 100%;
}

#form input:focus {
   border: none;
   border-bottom: solid 1px black;
   outline: none;
}




@keyframes entry-down {
   0% {
      transform: translateY(-100px);
      opacity: 0;
   }

   100% {
      transform: translateY(0);
      opacity: 1;
   }
}

@media (max-width: 768px) {
   #form-container img {
      display: none;
   }
}
