.form-container {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   position: relative;
}

.form-container form {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 1rem;
}

.form-container form input {
   border: none;
   background-color: white;
   border-bottom: solid 1px gray;
   width: 100%;
}

.form-container form input:focus {
   border: none;
   border-bottom: solid 1px black;
   outline: none;
}

.form-container form #names {
   width: 100%;
   display: flex;
   flex-direction: row;
   gap: 2rem;
   padding: 0;
}

.form-container form #names input {
   width: 50%;
}


.form-container select {
   width: 100%;
   background-color: white;
   border: none;
   border-bottom: solid 1px gray;
   overflow: hidden;
   height: 2rem;
}

.form-container select:focus {
   border: none;
   border-bottom: solid 1px black;
   outline: none;
   overflow: hidden;
}

.form-container select option {
   padding: 0.5rem;
   color: gray;
   border: none;
}

#message {
   height: 10rem;
   background-color: whitesmoke;
   border-radius: 14px;
   resize: none;
   overflow: auto;
   padding: 1rem;
   border: solid 1px gray;
   text-align: start;
}

#message:focus {
   outline: none;
}

.form-container form button {
   width: 100%;
   background-color: antiquewhite;
   color: black;
   outline: none;
   border: none;
   cursor: pointer;
   padding: 0.5rem;
   border-radius: 14px;
}

.form-container form button:hover {
   background-color: navajowhite;
}

.form-container form select {
   border: none;
   background-color: white;
   border-bottom: solid 1px gray;
   width: 100%;
}

.form-container form select:focus {
   border: none;
   border-bottom: solid 1px black;
   outline: none;
}

.form-container form textarea {
   border: none;
   border-radius: 14px;
   resize: none;
   overflow: auto;
   padding: 1rem;
   border: solid 1px gray;
   text-align: start;
}
