#created-contacts {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: start;
   position: relative;
   width: 100%;
   height: 20rem;
}

#show-contacts {
   width: 20%;
   background-color: antiquewhite;
   border: none;
   border-radius: 14px;
   padding: 1rem;
   cursor: pointer;
   display: flex;
   align-items: center;
   text-align: center;
   justify-content: center;
}

#show-contacts:hover {
   background-color: navajowhite;
}

#contacts-container {
   position: absolute;
   top: 4rem;
   left: 22rem;
   max-height: 30rem;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   overflow-y: scroll;
   overflow-x: hidden;
   scrollbar-width: 5px;
   width: 50%;
   height: auto;
   gap: 1rem;
   padding: 1rem;
   background-color: white;
   border: solid 1px gray;
   border-radius: 14px;
   animation: expand 0.5s ease-in-out;
   transition: expand 0.5s ease-in-out;
}

@keyframes expand {
   from {
      height: 0;
   }

   to {
      height: 30rem;
   }
}
