@import url("form.css");
@import url("/Frontend/styles/header.css");
@import url("/Frontend/styles/footer.css");
@import url("/Frontend/styles/global.css");


body {
   background-color: white;
   font-family: 'Lexend Exa', monospace;
   padding: 0;
   box-sizing: border-box;
   margin: 0;
}

main {
   padding: 0;
   padding-top: 3rem;
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   flex-direction: column;
   gap: 5rem;
   margin-bottom: 15rem;
}

.contact-information {
   width: 100%;
   height: 30rem;
   display: flex;
   background-color: antiquewhite;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   gap: 4rem;
   font-size: 1.2rem;
}

.contact-information .info {
   display: flex;
   flex-direction: column;
   gap: 4rem;
   min-width: 0;
   max-width: 40%;
}

.contact-information .info .header {
   display: flex;
   flex-direction: column;
   gap: 0.2rem;
}

#contact-image {
   height: 100%;
   width: auto;
   object-position: right;
}

@media (max-width: 768px) {
   #contact-image {
      height: 50%;
      width: auto;
   }
}


.info-container {
   background-color: white;
   border-radius: 25px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 1rem;
   gap: 1rem;

}

.description {
   font-size: 1rem;
   display: inline-block;
   white-space: normal;
   word-wrap: break-word;
}


#log {
   padding: 1rem;
   margin: 0.5rem;
   align-items: center;
   justify-content: center;
   font-size: 5rem;
}

.error {
   color: red;
   animation: entry_top 1s;
   transition: all 0.3s ease;
   background-color: transparent;
}

.success {
   color: green;
   animation: entry_top 1s;
   transition: all 0.3s ease;
   background-color: transparent;
}

#created-contacts {
   display: flex;
   flex-direction: column;
   background-color: transparent;
   border: solid 1 px gray;
   border-radius: 14px;
   width: 100%;
   height: 25rem;
   align-items: center;
   justify-content: center;
}

#show-contacts {
   width: 20%;
   background-color: antiquewhite;
   border: none;
   border-radius: 14px;
   padding: 1rem;
   cursor: pointer;
   display: flex;
   align-items: center;
   text-align: center;
   justify-content: center;
}


#contact-us {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 30rem;
   gap:0.5rem;
}

#contact-us img {
   width: 60%;
   height: auto;
}

#contacts-container {
   flex-direction: column;
   align-items: center;
   justify-content: center;
   overflow-y: scroll;
   overflow-x: hidden;
   scrollbar-width: none;
   width: 80%;
   height: auto;
   gap: 1rem;
   padding: 1rem;
   background-color: white;

}


@media (max-width: 768px) {
   #contact-us img {
      display: none;
   }
}