@import url("form.css");
@import url("/Frontend/styles/header.css");
@import url("/Frontend/styles/footer.css");


body {
   background-color: white;
   font-family: 'Lexend Exa', monospace;
   padding: 0;
   box-sizing: border-box;
   margin: 0;
}

main {
   padding: 0;
   padding-top: 3rem;
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   flex-direction: column;
   gap: 5rem;
   margin-bottom: 15rem;
}

.contact-information {
   width: 100%;
   height: 30rem;
   display: flex;
   background-color: antiquewhite;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   gap: 4rem;
   font-size: 1.2rem;
}

.contact-information .info {
   display: flex;
   flex-direction: column;
   gap: 4rem;
   min-width: 0;
   max-width: 40%;
}

.contact-information .info .header {
   display: flex;
   flex-direction: column;
   gap: 0.2rem;
}

#contact-image {
   height: 100%;
   width: auto;
   object-position: right;
}

@media (max-width: 768px) {
   #contact-image {
      height: 50%;
      width: auto;
   }
}


.info-container {
   background-color: white;
   border-radius: 25px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 1rem;
   gap: 1rem;

}

.description {
   font-size: 1rem;
   display: inline-block;
   white-space: normal;
   word-wrap: break-word;
}
