@import url("/Frontend/styles/like_button.css");

.cards-container {
   display: grid;
   grid-template-columns: repeat(3, minmax(5rem, 1fr));
   gap: 3rem;
   margin: 0 auto;
}

.card {
   display: flex;
   flex-direction: column;
   opacity: 0;
   transform: translateY(100px);
   transition: opacity 0.6s ease, transform 0.6s ease, background-size 0.3s ease-in-out;
   width: 25rem;
   height: 17rem;
   background-color: antiquewhite;
   border-radius: 25px;
   color: white;
   position: relative;
   justify-content: end;
   align-items: start;
   gap: 0.5rem;
   padding: 1rem;
   overflow: hidden;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   transition: transform 0.3s ease;
}

.card:hover {
   transform: scale(1.05);
}

.title-card-container {
   display: flex;
   flex-direction: column;
   align-items: start;
}


.card-title {
   font-size: clamp(12px, 4vw, 20px);
   white-space: nowrap;
   text-overflow: ellipsis;
}

.card-country {
   font-size: 0.7rem;
   font-weight: bold;
   text-decoration: none;
}

.card-price {
   font-size: 1.3rem;
   font-weight: bold;
   text-decoration: none;
}

.card-entry {
   opacity: 1;
   transform: translateY(0);
}
