.cards-container {
   display: grid;
   grid-template-columns: repeat(3, minmax(5rem, 1fr));
   gap: 5rem;
   margin: 0 auto;
}

.card {
   opacity: 0;
   transform: translateY(100px);
   transition: opacity 0.6s ease, transform 0.6s ease;
   width: 20rem;
   height: 25rem;
   background-color: antiquewhite;
   border-radius: 25px;
   color: black;
}

.card img {
   width: 100%;
   height: 50%;
   object-fit: cover;
   border-radius: 25px 25px 0 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.title-card-container {
   display: flex;
   flex-direction: column;
   align-items: start;
   justify-content: center;
   padding: 1rem;
}

.middle-card {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   padding: 1rem;
}

.card-title {
   font-size: clamp(12px, 4vw, 20px);
   white-space: nowrap;
   text-overflow: ellipsis;
}

.card-country {
   font-size: 0.7rem;
   font-weight: bold;
   color: #737373;
   text-decoration: none;
}

.card-rank-container {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 1rem;
   border-radius: 14px;
}

.card-rank-number {
   font-size: 1.5rem;
   font-weight: bold;
   text-decoration: none;
}

.bottom-card {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   padding: 1rem;
}

.card-price {
   font-size: 1.3rem;
   font-weight: bold;
   text-decoration: none;
}

.card-entry {
   opacity: 1;
   transform: translateY(0);
}
