.modal {
   display: none;
   width: 100%;
   height: 100%;
   position: fixed;
   left: 0;
   top: 0;
   overflow: auto;
   background-color: rgba(0, 0, 0, 0.4);
   padding: 1rem;
}


.modal-content {
   position: relative;
   margin: auto;
   top: 7%;
   background: #000;
   width: 70%;
   height: auto;
   aspect-ratio: 16 / 9;
   border-radius: 14px;
   overflow: hidden;
}

.close {
   position: absolute;
   display: flex;
   top: 0.2rem;
   right: 0.2rem;
   font-size: 2rem;
   text-align: center;
   align-items: center;
   justify-content: center;
   width: 2rem;
   height: 2rem;
   color: white;
   background-color: transparent;
   border: solid 2px white;
   border-radius: 100%;
   cursor: pointer;
}

#open-modal {
   border: none;
   color: black;
   background-color: transparent;
   cursor: pointer;
   border-radius: 14px;

   &:hover {
      background-color: antiquewhite;
   }
}

iframe {
   width: 100%;
   height: 100%;
}
